<h1 style="text-align:center">
  Bienvenido a {{ title }} <tr></tr>
  {{ tittle }}
</h1>
<div>
  <p>Nombre del Empleado:{{nombre}}</p>
  <p>Edad:{{edad}}</p>  
  <p>Los últimos tres sueldos son: {{sueldos[0]}}, {{sueldos[1]}} y {{sueldos[2]}}</p>
  <p>En los últimos 3 meses ha ganado: {{ultimos3Sueldos()}}</p>
  <p>En los últimos 3 meses ha ganado (Suma en el mismo HTML): {{sueldos[0]+sueldos[1]+sueldos[2]}}</p>
  <p>{{esActivo()}}</p>
</div>
<p>Puede visitar el sitio ingresando <a href="{{sitio}}">aquí</a></p>
<tr></tr>
<tr></tr>
<div>
  <h1>Empleado</h1>
  <p>Nombre del Empleado:{{nombre}}</p>
  <p>Edad:{{edad}}</p>
  @if (edad>=18) {
  <p>Es mayor de edad.</p>
  } @else {
  <p>Es menor de edad.</p>
  }
  <h1>Listado de articulos</h1>
  <table>
    @for(articulo of articulos; track articulo.codigo) {
    <tr>
      <td>{{articulo.codigo}}</td>
      <td>{{articulo.descripcion}}</td>
      <td>{{articulo.precio}}</td>
    </tr>
    }
  </table>
  <h1>Numero aleatorio entre 1 y 3</h1>
  @switch (generarNumero()) {
    @case (1) {
      <p>Uno</p>
    }
    @case (2) {
      <p>Dos</p>
    }
    @case (3) {
      <p>Tres</p>
    }
  }
</div>
<router-outlet />
